.links {
  .table__wrapper {
    max-width: $size-table;
    margin: 0 auto;
    padding: $padding-text 0;
    overflow: auto;
  }

  table {
    tr td:last-child {
      white-space: nowrap;
      width: 1%;
      padding-left: $padding-text/2;

      .table__icon {
        fill: $color-greys-d;
      }
    }

    tr td:nth-child(3) {
      white-space: nowrap;
      width: 1%;
      padding-right: $padding-text/2;

      .table__icon {
        fill: $color-warning;
      }
    }
  }
}
