.statistics {
  .date-period__wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    flex-wrap: nowrap;

    >* {
      padding: 0 $padding-sm;
    }
  }

  .table__wrapper {
    padding: 25px 0;

    div {
      min-width: $size-table/2;
      padding: 0 33px;
    }
  }

  .table {
    td {
      padding: 0;
    }

    td:last-child {
      text-align: right;
    }
  }

  .chart__wrapper {
    padding: 50px $padding-text;
  }
}
