*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  color: $color-dark;
  font-size: $size-text;
  font-weight: $font-regular;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-header;
}

h1 {
  text-transform: uppercase;
  font-size: $size-header;
  font-weight: $font-bold;
}

h2 {
  font-size: $size-header;
  font-weight: $font-xbold;
}

a {
  color: $color-link;
  text-decoration: none;
  cursor: $custom-pointer;

  &:hover {
    color: $color-warning-l;
  }
}

/* Forms */

input, textarea {
  border: 1px solid $color-greys-l;
  border-radius: $radius;
  cursor: $custom-pointer;
  font-weight: $font-regular;

  &::placeholder {
    font-weight: $font-regular;
    color: $color-greys;
  }

  &:hover {
    border-color: $color-greys-d;
    color: $color-dark;

    &::placeholder {
      color: $color-dark;
    }
  }

  &:focus {
    outline-color: $color-greys-d;
  }
}

input {
  line-height: $single-line-height;
  padding: 0 $padding-text;

  &[type="date"] {
    &::-webkit-calendar-picker-indicator {
      background: $custom-calendar-picker no-repeat;
      height: $size-icon;
      width: $size-icon;
    }

    &::-webkit-datetime-edit-text{
      content: ".";
    }
  }

  &[type="password"] {
    padding-left: 32px;
    position: relative;

    // &::after {
    //   position: absolute;
    //   top: 0%;
    //   left: 15px;
    //   // transform: translateY(-50%);
    //   content: "";
    //   background: url(../images/password.svg) no-repeat;
    //   width: 21px;
    //   height: 12px;
    //   color: red;
    // }
  }
}

textarea {
  padding: $padding-text;
  font-size: $size-textarea;
}

