main {
  margin-left: 0;
}

.header {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}

.drop-down {
  max-height: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

.expanded {
  max-height: 1000px;
  transition: $transition;
}

.main__section {
  display: block;
  background-color: $color-light;
  border: $border-style $color-greys-l;
  margin: $padding-text;

  &__row {
    border-bottom: $border-style $color-greys-l;
    padding: $padding-sm $padding-text;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    &--left {
      justify-content: flex-start;
    }

    &--naked {
      border: none;
    }

    &--vertical {
      display: block;
      text-align: center;
    }
  }

  &__col {
    flex: 0 1 auto;
    padding: 0 33px;
  }
}

.page-active {
  display: block;
}

@media only screen and (min-width: $mobile) and (min-height: $sidebar-max){
  .drop-down {
    position: fixed;
    top: $size-top-bar;
    left: 0;
    max-height: 100%;
    width: $size-sidebar;
  }

  .sidebar {
    height: 100%;
  }

  .header {
    width: $size-sidebar;
    position: fixed;
  }

  main {
    margin-left: $size-sidebar;
    margin-top: $size-top-bar + $padding-text;
  }

  .top-bar {
    position: fixed;
    width: 100%;
    height: $size-top-bar;
    top: 0;
    left: 0;
  }

}
