main {
  margin-left: 0;
}

.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 2;
}

aside {
  top: $size-top-bar;
  left: -$size-sidebar;
  width: $size-sidebar;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: $color-dark;
  transition: $transition;
}

.expanded {
  left: 0;
  transition: $transition;
}

.section {
  .container {
    background-color: $color-light;
    border: $border-style $color-greys-l;
    padding: 0;
    margin-top: $padding-text;
    margin-bottom: $padding-text;
  }

  &__row {
    border-bottom: $border-style $color-greys-l;
    padding: $padding-sm $padding-text;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    &--left {
      justify-content: flex-start;
    }

    &--naked {
      border: none;
    }

    &--vertical {
      display: block;
      text-align: center;
    }
  }

  &__col {
    flex: 0 1 auto;
  }
}

@media only screen and (min-width: $mobile) {
  .header {
    width: $size-sidebar;
    position: fixed;
  }

  main {
    margin-left: $size-sidebar;
    margin-top: $size-top-bar + $padding-text;
  }

  aside {
    left: 0;
  }

  .top-bar {
    position: fixed;
    width: 100%;
    height: $size-top-bar;
    top: 0;
    left: 0;
  }
}
