/* Colors */
$color-dark: #333333;
$color-light: #FFFFFF;
$color-header: #A6A6A6;
$color-greys-xl: #F5F5F2;
$color-greys-l: #E3E3E3;
$color-greys: #BABABA;
$color-greys-d: #979797;
$color-link: #56819F;
$color-warning:#F58220;
$color-warning-l: #FFA200;
$color-success: #04AE00;
$color-success-l: #74B67A;
$color-success-xl: #96CC9B;
$color-danger: #FF0000;
$color-danger-l: #DE5252;
$color-danger-xl: #EC7171;

/* Font sizes */
$size-text: 14px;
$size-textarea: 12px;
$size-link: 13px;
$size-header: 16px;
$size-button: 18px;

/* Font weight */
$font-regular: 300;
$font-bold: 500;
$font-xbold: 700;

/* Fonts */
$font-main: 'Roboto', sans-serif;

/* Borders */
$radius: 4px;
$border-style: 1px solid;

/* Sizes */
$single-line-height: 41px;
$padding-text: 20px;
$padding-sm: 15px;
$size-icon: 17px;
$size-icon-sm: 10px;
$size-sidebar: 189px;
$size-top-bar: 61px;
$size-table: 620px;

/* Breakpoints */

$sm: 600px;
$mobile: 768px;

/* Icons */
$custom-pointer: url(../images/finger-cursor.png), auto;
$custom-calendar-picker: url(../images/calendar.svg);

/* Transitions */
$transition: all .5s;
