@media only screen and (max-width: $mobile) {
  main {
    margin-left: 0;
  }
}

@media only screen and (max-width: $sm) {
  .table {
    font-size: 0.95em;

    &__header {
      font-size: inherit;
    }

    td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
