.date-period {
  @extend input;
  height: $single-line-height;
  padding: 0 $padding-sm 0 0;
  @include flex(row, center, space-between);
  max-width: 300px;

  &__input {
    position: relative;
    border: none;
    outline: none;
    height: $single-line-height - 10px;
    min-width: 100px;
    flex: 1;
  }

  &__input:first-child{
    border-right: 1px solid $color-greys-l;
    border-radius: 0;
  }

  &__icon {
    flex: 0 0 auto;
    size: $size-icon;
    color: $color-greys-l;

    &:hover {
      color: $color-dark;
    }
  }
}

@media only screen and (max-width: $sm) {
  .date-period {
    &__input {
      text-align: center;
      padding: 5px;
      min-width: 70px;
      font-size: $size-text - 1px;
    }
  }
}
