.date-period {
  max-width: 100%;
  @include flex (row, center, space-between);

  &__input-group {
    border: 1px solid $color-greys-l;
    border-radius: $radius;
    cursor: $custom-pointer;
    height: $single-line-height;
    padding: 0 $padding-sm 0 0;
    @include flex(row, center, space-between);
    min-width: 0;
    max-width: $size-table/2 - $single-line-height - $padding-text;

    &:hover {
      border-color: $color-greys-d;

      .date-period__input {
        color: $color-dark;

        &::placeholder {
          color: $color-dark;
        }
      }
    }
  }

  &__input {
    position: relative;
    border: none;
    outline: none;
    height: $single-line-height - 10px;
    flex: 1;
    padding: 8px;
    font-size: $size-text - 1px;
    min-width: 0;

    &::placeholder {
      color: $color-greys;
    }

    &.in-edit::active {
      box-shadow: none;
    }

    &.in-edit::focus {
      box-shadow: none;
    }
  }

  &__input:first-child{
    border-right: 1px solid $color-greys-l;
    border-radius: 0;
  }

  &__icon {
    flex: 0 0 auto;
    size: $size-icon;
    color: $color-greys-l;

    &:hover {
      color: $color-dark;
    }
  }

  &__button {
    flex: 0 0 auto;
    margin-left: 8px;
  }
}

@media only screen and (min-width: $sm) {
  .date-period {
    &__input {
      padding: 0 $padding-text;
      font-size: inherit;
    }

    &__button {
      margin-left: $padding-text;
    }
  }
}

