.form {
  &__input-group {
    border-bottom: $border-style $color-greys-l;
  }

  &__field {
    @include flex (row, center, space-between);
    padding: $padding-text/2;

    &__label {
      flex: 2;
      @extend h2;
      cursor: $custom-pointer;
    }

    &__input {
      flex: 3;
      border: 1px solid $color-greys-l;
      border-radius: $radius;
      cursor: $custom-pointer;

      &::placeholder {
        color: $color-greys;
      }

      &:hover {
        border-color: $color-greys-d;
        color: $color-dark;

        &::placeholder {
          color: $color-dark;
        }
      }

      &:focus {
        outline-color: $color-greys-d;
      }

      &--password {
        padding-left: 51px;
        width: 100%;
      }
    }
  }

  .invalid {
    border: 2px solid $color-danger;
    outline: $color-danger;

    &:hover {
      border-color: $color-danger;
    }
  }

  .password-wrapper {
    position: relative;
    flex: 3;

    &:hover {
      .password-icon {
        color: $color-dark;
      }
    }
  }

  .password-icon {
    z-index: 1;
    color: $color-greys;
    position: absolute;
    top: 50%;
    left: $padding-sm;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
