.form {
  &__input-group {
    border-bottom: $border-style $color-greys-l;
  }

  &__field {
    @include flex (row, center, space-between);
    padding: $padding-text/2;

    &__label {
      @extend h2;
      cursor: $custom-pointer;
    }
  }

  &__input {
    border: 1px solid $color-greys-l;
    border-radius: $radius;
    cursor: $custom-pointer;
    width: 100%;

    &::placeholder {
      color: $color-greys;
    }

    &:hover {
      border-color: $color-greys-d;
      color: $color-dark;

      &::placeholder {
        color: $color-dark;
      }
    }

    &:focus {
      outline-color: $color-greys-d;
    }

    &--password {
      padding-left: 51px;
    }

    &__icon {
      z-index: 1;
      color: $color-greys;
      position: absolute;
      top: 50%;
      left: $padding-sm;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  &__input-wrapper {
    position: relative;

    &:hover {
      .form__input__icon {
        color: $color-dark;
      }
    }
  }

  &__message {
    position: absolute;
    left: 0;
    top: -13px;
    font-size: $size-textarea;
    color: $color-danger;
    transition: $transition;
    animation-duration: 1s;
    animation-name: appear;
  }

  .invalid {
    border: 2px solid $color-danger;
    outline: $color-danger;

    &:hover {
      border-color: $color-danger;
    }
  }
}
