.header {
  background-color: $color-dark;
  @include flex (row, center, space-between);
  height: $size-top-bar;
  width: 100%;
  padding: 0 $padding-text;

  &__toggle-menu {
    color: $color-greys-l;
    font-size: 23px;
    cursor: $custom-pointer;

    &:hover {
      color: $color-light;
    }
  }
}

@media only screen and (min-width: $mobile) and (min-height: $sidebar-max) {
  .header {
    width: $size-sidebar;

    &__toggle-menu {
      display: none;
    }
  }
}

