.password {
  position: relative;

  &:hover {
    .password__icon {
      fill: $color-dark;
    }
  }

  &__input {
    padding-left: 51px;
    width: 100%;
  }

  &__icon {
    height: $size-icon;
    fill: $color-greys;
    position: absolute;
    top: 50%;
    left: $padding-sm;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
