.sidebar {
  background-color: $color-dark;

  &__section {
    padding: $padding-text/2 0 $padding-text 0;
    border-bottom: $border-style $color-header;

    &--first {
      padding-top: $padding-text;
    }

    &__title {
      @extend h1;
      padding: $padding-text/2 $padding-text;
    }
  }

  &__menu-item {
    display: block;
    line-height: $single-line-height;
    padding: 0 $padding-text;
    border-left: 5px solid transparent;
    color: $color-header;

    &:hover {
      background-color: transparentize($color-greys-d, 0.8);
      color: $color-light;
    }

    span {
      padding-left: $padding-sm;
      line-height: $single-line-height;
    }

    i {
      font-size: $size-icon;
    }

    &--active {
      border-color: $color-warning;
      background-color: transparentize($color-greys-d, 0.8);
    }

  }

  &__manager {
    padding: $padding-text/2 $padding-text;
    @include flex (row, center, flex-start);

    img {
      padding-right: $padding-text/2;
    }

  }
}

// @media only screen and (max-width: $sidebar-max) {

// }
