.sidebar {
  background-color: $color-dark;

  &__section {
    padding: $padding-text/2 0 $padding-text 0;
    border-bottom: $border-style $color-header;

    &--first {
      padding-top: $padding-text;
    }

    &__title {
      @extend h1;
      padding: $padding-text/2 $padding-text;
    }
  }

  &__menu-item {
    line-height: $single-line-height;
    padding: 0 $padding-text;

    &:hover {
      background-color: transparentize($color-greys-d, 0.8);

      span {
        color: $color-light;
      }

      svg {
        fill: $color-light;
      }
    }

    span {
      padding-left: $padding-sm;
      color: $color-header;
    }

    svg {
      @include icon();
      fill: $color-header;
    }

    &--active {
      border-left: 5px solid $color-warning;
      background-color: transparentize($color-greys-d, 0.8);
    }

  }

  &__manager {
    padding: $padding-text/2 $padding-text;
    @include flex (row, center, flex-start);

    img {
      padding-right: $padding-text/2;
    }

  }
}

