.sidebar {
  background-color: $color-dark;

  &__section {
    padding: $padding-text/4 0 $padding-text/2 0;
    border-bottom: $border-style $color-header;

    &--first {
      padding-top: 0;
    }

    &__title {
      @extend h1;
      padding: $padding-text/2 $padding-text;
    }
  }

  &__menu-item {
    display: block;
    line-height: $single-line-height - 5px;
    padding: 0 $padding-text;
    border-left: 5px solid transparent;
    color: $color-header;

    &:hover {
      background-color: transparentize($color-greys-d, 0.8);
      color: $color-light;
    }

    span {
      padding-left: $padding-sm;
      line-height: $single-line-height - 3px;
    }

    i {
      font-size: $size-icon - 2;
    }

    &--active {
      border-color: $color-warning;
      background-color: transparentize($color-greys-d, 0.8);
    }

  }

  &__manager {
    padding: $padding-text/4 $padding-text/2;
    @include flex (row, center, flex-start);

    img {
      padding-right: $padding-text/2;
    }

  }
}

@media only screen and (min-width: $mobile) and (min-height: $sidebar-max) {
  .sidebar {
    &__section {
      padding: $padding-text/2 0 $padding-text 0;
    }

    &__menu-item {
      line-height: $single-line-height;

      i {
        font-size: $size-icon;
      }

      span {
        line-height: $single-line-height;
      }
    }

    &__manager {
      padding: $padding-text/2 $padding-text;
    }
  }
}
