.top-bar {
  @extend .sidebar;

  &__section {
    @extend .sidebar__section;
    @include flex (row, center, space-evenly);
    padding-bottom: $padding-text/2;

    &:hover {
      background-color: transparentize($color-greys-d, 0.8);
      color: $color-light;
      cursor: $custom-pointer;

      svg {
        fill: $color-light;
      }

      .top-bar__balance {
        color: inherit;
      }
    }

    &__item {
      padding: $padding-sm/2;
    }
  }

  &__icon {
    color: $color-header;
    font-size: $size-icon;

    &--sm {
      font-size: $size-icon-sm;
    }
  }

  &__balance {
    @extend h1;
  }
}

@media only screen and (min-width: $mobile) {
  .top-bar {
    background-color: $color-light;
    @include flex (row, center, flex-end);
    border-bottom: $border-style $color-greys-l;

    &__section {
      padding: 0 $padding-sm;
      height: 100%;
      border-left: $border-style $color-greys-l;
      border-bottom: none;

      &:hover {
        background-color: $color-greys-xl;
        color: $color-header;

        svg {
          fill: $color-header;
        }
      }
    }
  }
}
